apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-myapp
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: container-devmyapp
        image: stategyhq/myapp:42
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: devomyapp-svc
  labels:
    app: myapp
spec:
  #type: LoadBalancer
  # type: NodePort
  ports:
  - port: 81
    targetPort: 9376
  #nodePort: 30001
  selector:
    app: myapp
