apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-myapp
  labels:
    app: devmyapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devmyapp
  template:
    metadata:
      labels:
        app: devmyapp
    spec:
      containers:
      - name: container-devmyapp
        image: stategyhq/myapp:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: devomyapp-svc
  labels:
    app: devomyapp
spec:
  #type: LoadBalancer
  type: NodePort
  ports:
  - port: 80
  nodePort: 30001
  selector:
    app: devmyapp